<!--partials/header-->
<nav>
    <div class="container-fluid">
        <div class="nav-menu float-right">
            <span><a href="#">blogs</a></span>
            <span><a href="#">tags</a></span>
            <span><a href="#">about</a></span>
        </div>
        <div class="nav-header">
            <div>Yaofangjie's blog</div>
        </div>
    </div>
</nav>