<html>
<head>
    <% include partials/head %>
</head>

<body>
    <% include partials/header %>

    <form method="post">
        <label>用户名:</label>
        <input type="text" id="name">
        <label>密码:</label>
        <input type="password" id="password">

        <button type="submit" class="btn btn-primary">登录</button>
    </form>
    <% include partials/footer %>
</body>
</html>