body {
   background-color: cornsilk;
}

a:hover, a:visited, a:link, a:active {
   text-decoration: none;
}

.float-right {
   float: right;
}

nav {
   background-color: #f3f2f2;
   border-bottom: 1px solid #eee;
}

nav > div {
   padding: 20px 0;
   line-height: 100%;
   font-size: 28px;
}

.nav-menu > span {
   font-size: 18px;
   padding: 0 10px;
}


